@tailwind base;
  @tailwind components;
  @tailwind utilities;

body,html,:root{
  height: 100%;
}

body, html{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.pricing-blur{
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px) ;
}


#pages h1{@apply text-2xl font-medium tb:text-3xl xl:font-semibold  lg:text-4xl}
#pages h2{@apply text-[22px] font-medium tb:text-2xl lg:text-[28px] }
#pages h3{@apply underline underline-offset-4 capitalize text-lg font-medium sm:text-[20px] tb:text-[24px] xl:text-[26px] }
#pages h4{@apply text-lg min-[500px]:text-xl tb:text-2xl font-medium}

#auth h1{@apply text-[26px] font-medium min-[500px]:text-3xl tb:text-[32px]}

.spacing-between-divs{@apply space-y-8 tb:space-y-6 lg:space-y-8}
.spacing-in-div{@apply space-y-6 tb:space-y-5 lg:space-y-6}


.limited-width{@apply w-full max-w-[1440px] mx-auto px-4 sm:px-6 md:px-6 lg:px-10}
.limited-width-big{@apply w-full max-w-[2000px] mx-auto sm:px-4 md:px-6 xl:px-8 }

.price-amount{@apply flex flex-col text-4xl min-[400px]:text-[42px] min-[460px]:text-5xl tb:text-[54px] lg:text-6xl font-light w-fit items-center}
.main-text{@apply lg:text-lg leading-relaxed}

.form-inputs{@apply w-full bg-white py-1.5 border-black border-2 rounded-lg pl-4 placeholder:text-[#4D4D4D] outline-none }
.form-buttons{@apply w-full bg-white py-1.5 border-black border-2 rounded-lg flex items-center justify-center  }

#protected .nav-image{@apply max-sm:invert aspect-square sm:w-[28px] lg:w-[32px]}
/*#dialog-content .dialog-inputs{@apply pl-3 pr-1 py-1.5 sm:py-2 rounded-lg bg-white border-none outline-none text-sm disabled:bg-[#f0f0f0]  disabled:text-[#6c757d] disabled:cursor-not-allowed}*/
/*#dialog-content .dialog-labels{@apply text-xs pl-2 sm:text-sm}*/
.dialog-inputs{@apply pl-3 pr-1 py-1.5 sm:py-2 rounded-lg bg-white border-none outline-none text-sm disabled:bg-[#f0f0f0]  disabled:text-[#6c757d] disabled:cursor-not-allowed}
.dialog-labels{@apply text-xs pl-2 sm:text-sm}

#protected h2{@apply text-lg lg:text-xl underline font-medium underline-offset-2 pl-2}
/*#protected #dashboard .box {@apply rounded-xl min-[450px]:rounded-2xl px-3 py-2 bg-main-gray min-[450px]:py-3 min-[450px]:px-4 }*/
.box {@apply rounded-xl min-[450px]:rounded-2xl px-3 py-2 bg-main-gray min-[450px]:py-3 min-[450px]:px-4 }
 .settings-select-link {@apply relative flex w-full cursor-default select-none items-center rounded-sm p-2 hover:bg-main-bg hover:text-accent-foreground font-medium text-sm}
  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }